{% extends 'base.html' %}
{% load static %}
{% block title %}{{ question.brief_description|truncatewords:5 }} - Hajela's IAS Academy (HIA){% endblock %}

{% block content %}
    <div class="container py-5">
        <!-- Blog Post Header -->
        <div class="text-center mb-5">
            <h3>{{ question.brief_description }}</h3>
        </div>
        
        <!-- Blog Post Content -->
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <p>{{ question.details|safe }}</p>
                </div>
                
                <!-- Exam, Subject, and Other Details -->
            <hr/>
                <div class="mb-4">
                    <p class="card-text">
                        <strong>Exam:</strong>
                        {% if question.exam_name.all %}
                            {{ question.exam_name.all|join:", " }}
                        {% else %}
                            No Exam specified.
                        {% endif %}
                        <br>
                    
                        <strong>Subject:</strong>
                        {% if question.subject_name.all %}
                            {{ question.subject_name.all|join:", " }}
                        {% else %}
                            No Subject specified.
                        {% endif %}
                        <br>
                    
                        <strong>Area:</strong>
                        {% if question.area_name.all %}
                            {{ question.area_name.all|join:", " }}
                        {% else %}
                            No Area specified.
                        {% endif %}
                        <br>
                    
                        {% if question.part_name.exists %}
                            <strong>Part:</strong>
                            {{ question.part_name.all|join:", " }}
                            <br>
                        {% endif %}
                    
                        {% if question.topic_name.exists %}
                            <strong>Topic:</strong>
                            {{ question.topic_name.all|join:", " }}
                            <br>
                        {% endif %}
                    </p>

                </div>

                <!-- Link to Resources -->
                {% if question.question_link %}
                    <div class="mb-4">
                        <h5>Resource Link:</h5>
                        <a href="{{ question.question_link }}" target="_blank">{{ question.question_link }}</a>
                    </div>
                {% endif %}

                <!-- Video File -->
                {% if question.question_video %}
                    <div class="mb-4">
                        <h5>Video:</h5>
                        <video width="100%" controls>
                            <source src="{{ question.question_video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% endif %}

                <!-- Display Related Images as Tabs -->
                {% if question.images.exists %}
                    <h3>Images:</h3>
                    <ul class="nav nav-tabs" role="tablist">
                        {% for image in question.images.all %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="image-tab-{{ forloop.counter }}" data-bs-toggle="tab" data-bs-target="#image-{{ forloop.counter }}" type="button" role="tab" aria-controls="image-{{ forloop.counter }}" aria-selected="true">
                                    <img src="{{ image.image.url }}" alt="Image" class="img-fluid" style="max-width: 100px;">
                                </button>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content mt-3">
                        {% for image in question.images.all %}
                            <div class="tab-pane fade" id="image-{{ forloop.counter }}" role="tabpanel" aria-labelledby="image-tab-{{ forloop.counter }}">
                                <img src="{{ image.image.url }}" alt="Image" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Display Related Documents -->
                {% if question.documents.exists %}
                    <h3>Documents:</h3>
                    <ul>
                        {% for document in question.documents.all %}
                            <li><a href="{{ document.document.url }}" download>{{ document.document.url|slice:'-10:' }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>

            <!-- Sidebar (Optional) -->
            <div class="col-lg-4">
                <!-- Sidebar content (Optional) -->
                <div class="p-4 mb-3 bg-light rounded">
                    <h4>Additional Information</h4>
                    {% if question.created_by %}
                    <p class="text-muted"><strong>Posted by: </strong> {{ question.created_by.first_name }} {{ question.created_by.last_name }}</p>
                    {% endif %}
                    <p class="text-muted"> <strong>Posted on: </strong> {{ question.created_at|date:"F j, Y" }}</p>
                    <hr>
                    <p>{{ question.other_text }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
